SpeechRecognition
streamlit
streamlit-ace
streamlit-extras
scikit-learn
pdf2image
gtts
pillow
google.generativeai
IPython
streamlit-lottie
requests
youtube-transcript-api
streamlit-option-menu
streamlit-webrtc
seaborn
streamlit_shadcn_ui
PyPDF2
password-strength
instaloader
plotly
requests

npmpy
pandas
